<p-toast></p-toast>
<form (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="p-grid">
    <div class="p-col-12" style="text-align: center">
      <input id="username"
             type="text"
             pInputText
             formControlName="username"
             placeholder="{{ 'LOGIN.USERNAME' | translate }}"/>
    </div>
    <div class="p-col-12" style="text-align: center">
      <input id="password"
             type="password"
             formControlName="password"
             placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
             pPassword [feedback]="false"/>
    </div>

    <div class="p-col-12" style="text-align: center">
      <p-button label="{{ 'LOGIN.BUTTON_LOGIN' | translate }}"
                type="submit"
                [disabled]="!loginForm?.valid"
                class="ui-button-rounded">
      </p-button>
    </div>
    <div style="text-align: center; width: 100%; font-size: smaller">
      v2020.06.19
    </div>
  </div>
</form>
