<p-toast></p-toast>
<form (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="p-grid">
    <div class="p-col-12" style="text-align: center">
      <input id="username"
             type="text"
             pInputText
             formControlName="username"
             placeholder="Usuario"/>
    </div>
    <div class="p-col-12" style="text-align: center">
      <input id="password"
             type="password"
             formControlName="password"
             placeholder="Senha"
             pPassword [feedback]="false"/>
    </div>

    <div class="p-col-12" style="text-align: center">
      <p-button label="Entrar"
                type="submit"
                [disabled]="!loginForm?.valid"
                class="ui-button-rounded">
      </p-button>
    </div>
    <div style="text-align: center; width: 100%; font-size: smaller">
      v2020.06.15
    </div>

  </div>
</form>
