
<div style="float: right; font-size: smaller" *ngIf="appStatus !== 'login'">
  <a href="#" (click)="logout($event)">sair</a>
</div>

<app-login *ngIf="appStatus === 'login'" (loginSuccess)="onLoginSuccess($event)"></app-login>

<app-order-create *ngIf="appStatus === 'create'" (createdSuccess)="onCreatedSuccess($event)"></app-order-create>

<ng-container *ngIf="appStatus === 'loading'">
  <div class="p-grid">
  <div class="p-col-12 image-center" >
    <img src="assets/ajax-loader.gif" alt="loader">
  </div>
  </div>
</ng-container>

<ng-container *ngIf="appStatus === 'detail'">
  <div class="p-grid">
    <div class="p-col-12">
      <table>
        <tr>
          <td>Internal ID:</td>
          <td>{{orderDetail.id}}</td>
        </tr>
        <tr>
          <td>Request ID:</td>
          <td>#{{orderDetail.code}}</td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>{{orderDetail.status}}</td>
        </tr>
      </table>
    </div>
    <div class="p-col-12">
      <agm-map [latitude]="orderDetail?.whereis.latitude"
               style="height: 300px; width: 100%"
               [longitude]="orderDetail?.whereis.longitude"
               [zoom]="15"
               [panControl]="true">

        <agm-marker [latitude]="orderDetail?.whereis.latitude"
                    [longitude]="orderDetail?.whereis.longitude"></agm-marker>

      </agm-map>
    </div>
  </div>
</ng-container>
