<app-login *ngIf="appStatus === 'login'"
           (loginSuccess)="onLoginSuccess($event)">

</app-login>

<app-order-create *ngIf="appStatus === 'create'"
                  (createdSuccess)="onCreatedSuccess($event)">

</app-order-create>

<app-order-user *ngIf="appStatus === 'order-user'">

</app-order-user>

<ng-container *ngIf="appStatus === 'loading'">
  <div class="p-grid">
    <div class="p-col-12 image-center">
      <img src="assets/ajax-loader.gif" alt="loader">
    </div>
  </div>
</ng-container>

<ng-container *ngIf="appStatus === 'detail'">
  <div class="p-grid">
    <div class="p-col-12">
      <p-overlayPanel #op>
        <button pButton
                type="button"
                label="{{ 'DETAILS.BUTTON_CANCEL' | translate }}"
                (click)="onCancelOrder()"
                class="ui-button-secondary">
        </button>
      </p-overlayPanel>
      <p-card>
        <table>
          <tr>
            <td>
              <div class="vl" [style.color]="'#' + statusColor"></div>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <span class="font-weight-600">{{orderDetail.status}}</span>
                  </td>
                  <td style="text-align: end; padding-left: 20px">
                    <div>
                      <i class="pi pi-ellipsis-v"
                         (click)="op.toggle($event)"
                         *ngIf="orderDetail.statusId === 1"></i>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="font-size-12">
                    {{orderDetail.orderType?.name}}
                  </td>
                </tr>
                <tr>
                  <td class="font-size-12">
                    {{ 'DETAILS.CODE' | translate }}: {{orderDetail.code}}
                  </td>
                </tr>
                <tr>
                  <td class="font-size-12" *ngIf="orderDetail.statusId === 11">
                    {{ 'DETAILS.CONCLUSION_DATE' | translate }}: {{orderDetail.dueDate | date : 'dd/MM/yyyy HH:mm'}}
                  </td>
                  <td class="font-size-12" *ngIf="orderDetail.statusId !== 11">
                    {{ 'DETAILS.DUE_DATE' | translate }}: {{orderDetail.dueDate | date : 'dd/MM/yyyy HH:mm'}}
                  </td>
                  <td style="text-align: end; padding-left: 20px" *ngIf="!showHistory">
                    <div>
                      <i class="pi pi-angle-down" (click)="handleShowHistory()"></i>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="p-col-12" *ngIf="orderDetail.statusId === 8">
          <agm-map [latitude]="orderDetail?.whereis?.latitude"
                   [longitude]="orderDetail?.whereis?.longitude"
                   style="height: 300px; width: 100%"
                   disableDefaultUI="true"
                   gestureHandling="none">
            <agm-direction [origin]="origin"
                           [destination]="destination"
                           (onResponse)="onResponse($event)"
                           style="color: black"
                           [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions"
                           *ngIf="orderDetail.planningModel !== null">
            </agm-direction>
            <agm-overlay [latitude]="origin.lat"
                         [longitude]="origin.lng">
              <div class="arrival_time" style="background-color: beige">
                <b>{{durationToPoint?.value | date:'HH:mm'}}</b>
              </div>
            </agm-overlay>
          </agm-map>
        </div>
        <table *ngIf="showAgentData()">
          <tr>
            <td>
              <div>
                <img alt=""
                     *ngIf="orderDetail.agentModel?.imageUrl === null"
                     style="border-radius: 50%; width: 50px"
                     src="https://secure.gravatar.com/avatar/5dbbdc1eae890ebabee2f477685ba5c2?d=https%3A//assets.zendesk.com/images/2016/default-avatar-80.png&amp;s=80&amp;r=g">
                <img alt=""
                     *ngIf="orderDetail.agentModel?.imageUrl !== null"
                     style="border-radius: 50%; width: 50px"
                     src="{{orderDetail.agentModel?.imageUrl}}">
              </div>
            </td>
            <td>
              <table>
                <tr>
                  <td>
                    <span>
                      {{orderDetail.agentModel?.name}}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ 'DETAILS.ATTENDANCE' | translate }}
                    : {{orderDetail.planningModel?.estimatedEndDate | date: "dd/MM/yyyy HH:mm"}}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="history-tl-container" *ngIf="showHistory">
          <ul class="tl">
            <li *ngFor="let item of logs" class="tl-item">
              <div class="timestamp">
                {{item.createdOn | date:'dd/MM/yyyy'}}
                <br>
                {{item.createdOn | date:'HH:mm'}}
              </div>
              <div class="item-title">
                {{item.orderStatus.name}}
              </div>
              <div class="item-detail">
                {{item.author.name}}
              </div>
            </li>
          </ul>
        </div>
        <div style="text-align: end" *ngIf="showHistory">
          <i class="pi pi-angle-up" (click)="handleShowHistory()"></i>
        </div>
      </p-card>
    </div>
  </div>
</ng-container>

