<p-toast></p-toast>
<form (ngSubmit)="onCreate()"
      [formGroup]="createForm">
  <div>
    <div class="p-grid forms-grid">
      <div class="p-col-12 p-md-6">
        <table>
          <tr>
            <td>
              <div>
                <img alt=""
                     *ngIf="!ticketRequesterAvatarUrl"
                     style="border-radius: 50%; width: 50px"
                     src="https://secure.gravatar.com/avatar/5dbbdc1eae890ebabee2f477685ba5c2?d=https%3A//assets.zendesk.com/images/2016/default-avatar-80.png&amp;s=80&amp;r=g">
                <img alt=""
                     *ngIf="ticketRequesterAvatarUrl !== null"
                     style="border-radius: 50%; width: 50px"
                     src="{{ticketRequesterAvatarUrl}}">
              </div>
            </td>
            <td>
              <table>
                <tr>
                  <td><span style=" font-weight: bold">{{ticketRequesterName}}</span></td>
                </tr>
                <tr>
                  <td>{{ticketRequesterEmail}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <hr style=" border: 1px solid lightgray"/>
      </div>
      <!--PHONE-->
      <div class="p-col-12 p-md-6 font-weight-600" style="padding-bottom: 1px">
        {{ 'CREATE.PHONE' | translate }}
      </div>
      <div class="p-col-12">
        <input pInputText
               ngModel="{{phone}}"
               formControlName="phone"
               placeholder="{{ 'CREATE.PHONE' | translate }}">
      </div>
      <!--ORDER TYPE-->
      <div class="p-col-12 p-md-6 font-weight-600" style="padding-bottom: 1px">
        {{ 'CREATE.ORDER_TYPE' | translate }}
      </div>
      <div class="p-col-12" *ngIf="!showOrderEdit()">
        <p-dropdown [options]="orderTypeList"
                    placeholder="{{ 'CREATE.ORDER_TYPE' | translate }}"
                    formControlName="orderType"
                    [style]="{'width': '100%'}"
                    required="true"
                    (onChange)="onChangeOrderType($event)"
                    [filter]="true">
        </p-dropdown>
      </div>
      <div class="p-col-12" *ngIf="showOrderEdit()">
        <div class="ui-inputgroup">
          <input pInputText
                 formControlName="orderType"
                 ngModel="{{orderTypeName}}"
                 disabled="true">
          <span class="ui-inputgroup-addon" (click)="handleEditOrderType()">
            <i class="pi pi-pencil" style="line-height: 1.25;">
            </i>
          </span>
        </div>
      </div>
      <!--PRIORITY-->
      <div class="p-col-12 p-md-6 font-weight-600" style="padding-bottom: 1px">
        {{ 'CREATE.PRIORITY' | translate }}
      </div>
      <div class="p-col-12" *ngIf="!showPriorityEdit()">
        <p-dropdown [options]="priorityList"
                    placeholder="{{ 'CREATE.PRIORITY' | translate }}"
                    formControlName="priority"
                    [style]="{'width': '100%'}"
                    [filter]="true"
                    (onChange)="onChangePriority($event)"
                    required="true">
        </p-dropdown>
      </div>
      <div class="p-col-12" *ngIf="showPriorityEdit()">
        <div class="ui-inputgroup">
          <input pInputText
                 formControlName="priority"
                 ngModel="{{priorityName}}"
                 disabled="true">
          <span class="ui-inputgroup-addon" (click)="handleEditPriority()">
            <i class="pi pi-pencil" style="line-height: 1.25;">
            </i>
          </span>
        </div>
      </div>
      <!--UNIT-->
      <div class="p-col-12 p-md-6 font-weight-600" style="padding-bottom: 1px">
        {{ 'CREATE.UNIT' | translate }}
      </div>
      <div class="p-col-12" *ngIf="!showUnitEdit()">
        <p-dropdown [options]="unitsList"
                    required="true"
                    placeholder="{{ 'CREATE.UNIT' | translate }}"
                    [filter]="true"
                    [style]="{'width': '100%'}"
                    (onChange)="onChangeUnit($event)"
                    formControlName="unit">
        </p-dropdown>
      </div>
      <div class="p-col-12" *ngIf="showUnitEdit()">
        <div class="ui-inputgroup">
          <input pInputText
                 formControlName="unit"
                 ngModel="{{unitName}}"
                 disabled="true">
          <span class="ui-inputgroup-addon" (click)="handleEditUnit()">
            <i class="pi pi-pencil" style="line-height: 1.25;">
            </i>
          </span>
        </div>
      </div>
      <!--ADDRESS-->
      <div class="p-col-12 p-md-6 font-weight-600" style="padding-bottom: 1px">
        {{ 'CREATE.ADDRESS' | translate }}
      </div>
      <div class="p-col-12 p-md-4">
        <div class="ui-inputgroup">
          <input pInputText
                 formControlName="address"
                 ngModel="{{address}}"
                 placeholder="{{ 'CREATE.ADDRESS' | translate }}"
                 required="true">
          <span class="ui-inputgroup-addon" (click)="handleGeocode()">
            <i class="pi pi-map-marker" style="line-height: 1.25;">
            </i>
          </span>
        </div>
      </div>
      <!--MAP-->
      <div class="p-col-12">
        <agm-map [latitude]="latitude"
                 style="height: 300px; width: 100%"
                 [longitude]="longitude"
                 [zoom]="zoom"
                 (mapClick)="onMapClicked($event)"
                 [panControl]="true">
          <agm-marker *ngFor="let point of points"
                      [latitude]="point.lat"
                      [longitude]="point.lng"
                      [markerDraggable]="true"
                      (dragEnd)="onMapDragEndMarker($event)">
          </agm-marker>
        </agm-map>
      </div>
      <!--BUTTON-->
      <div class="p-col-12" style="text-align: end">
        <button pButton
                type="submit"
                label="{{ 'CREATE.BUTTON_CREATE' | translate }}"
                class="ui-button-secondary"
                [disabled]="!createForm?.valid">
        </button>
      </div>
    </div>
  </div>
</form>
