<p-toast></p-toast>
<form (ngSubmit)="onCreateFormSubmit()"
      [formGroup]="createForm">
  <div class="p-grid">
    <div class="p-col-4">
      Requester:
    </div>
    <div class="p-col-8">
      {{ticketRequesterName}}
    </div>
    <div class="p-col-4">
      Telefone:
    </div>
    <div class="p-col-8">
      <input pInputText formControlName="phone">
    </div>
    <div class="p-col-4">
      Tipo de OS:
    </div>
    <div class="p-col-8">
      <p-dropdown [options]="orderTypeList"
                  placeholder="Tipo de OS"
                  formControlName="orderType"
                  required="true"
                  [style]="{'width': '50px'}"
                  [filter]="true">
      </p-dropdown>
    </div>
    <div class="p-col-4">
      Prioridade:
    </div>
    <div class="p-col-8">
      <p-dropdown [options]="priorityList"
                  placeholder="Prioridade"
                  formControlName="priority"
                  [style]="{'width': '50px'}"
                  [filter]="true"
                  required="true">
      </p-dropdown>
    </div>
    <div class="p-col-4">
      Unidade:
    </div>
    <div class="p-col-8">
      <p-dropdown [options]="unitsList"
                  required="true"
                  placeholder="Unidade"
                  [filter]="true"
                  [style]="{'width': '50px'}"
                  formControlName="unit">
      </p-dropdown>
    </div>
    <div class="p-col-4">
      Região:
    </div>
    <div class="p-col-8">
      <p-dropdown [options]="regionsList"
                  placeholder="Região"
                  required="true"
                  [filter]="true"
                  [style]="{'width': '50px'}"
                  formControlName="region">
      </p-dropdown>
    </div>
    <div class="p-col-4">
      Endereço:
    </div>
    <div class="p-col-8">
      <input pInputText formControlName="address"
             ngModel="{{address}}"
             required="true"
             (keyup.control)="onEnter($event)">
    </div>
    <!--<div class="p-col-12">
      <p>{{address}}</p>
    </div>-->
    <div class="p-col-12">
      <agm-map [latitude]="latitude"
               style="height: 300px; width: 100%"
               [longitude]="longitude"
               [zoom]="zoom"
               (mapClick)="mapClicked($event)"
               [panControl]="true">
        <agm-marker *ngFor="let point of points"
                    [latitude]="point.lat"
                    [longitude]="point.lng"
                    [markerDraggable]="true"
                    (dragEnd)="mapDragEndMarker($event)">
        </agm-marker>
      </agm-map>
    </div>
    <div class="p-col-12" style="text-align: end">
      <p-button label="Criar OS" type="submit"></p-button>
    </div>
  </div>
</form>
