:host {
  font-size: 12px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
}

.ui-inputtext {
  font-size: 12px !important;
  width: 100% !important;
}


.ui-dropdown .ui-dropdown-label{
  font-size: 12px !important;
}

.font-weight-600{
  font-weight: 600;
}

